*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
ul{
    list-style-type: none;
}
.stars{
    position: absolute;
}
.hills{
    position: absolute;
    bottom: 0;
}
body{
    font-family: 'Red Hat Text', sans-serif;
    background-color: hsl(235, 16%, 14%);
}

.container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    min-height: 100vh;
    
}
.container h1{
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 30px;
    cursor: pointer;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-text-fill-color:transparent;
}
.countdown{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}
.countdown div{
    margin: 10px;
}
.countdown p{
    padding: 20px;
    background-color: hsl(236, 21%, 26%);
    border-radius: 5px;
    font-size: 46px;
    color: hsl(345, 95%, 68%);
}
.countdown h3{
    color: hsl(237, 18%, 59%);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    margin-top: 10px;
}
.socials{
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 999;
    transform: translateX(-50%);
}
.socials ul{
    display: flex;
    
}
.socials ul li{
    margin: 0 20px;
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media(min-width:500px) {
    .container{
        padding: 0 20px;
        max-width: auto;
    }
    .container h1{
        text-align: center;
    }
}
@media(min-width:1440px) {
    .stars img , .hills img{
        width: 1600px;
    }
}
@media(min-width:1600px) {
    .stars img , .hills img{
        width: 1920px;
    }
}
